@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-1"><strong>Lista de Tarefas</strong></h1>
    <br />
    <p>Este aplicativo é uma Lista de Tarefas simples<br />
    Desenvolvido em .Net6 com Entity Framework Core<br />
    <strong>Sejam Bem Vindos!!!</strong></p>
</div>
