@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-1"><strong>Lista de Tarefas</strong></h1>
    <br />
    <p>Este aplicativo é uma Lista de Tarefas simples</p>
    <p>Desenvolvido em .Net6 com Entity Framework Core</p>
    <p>Sejam Bem Vindos!!!</p>
</div>
